<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.three.shop.mapper.ProductDtoMapper">
    <resultMap id="ProductDtoMap" type="com.three.shop.domain.dto.ProductDto" extends="com.three.shop.mapper.ProductMapper.BaseResultMap">
    </resultMap>
    <resultMap id="ProductAndDetailMap" type="com.three.shop.domain.dto.ProductDto" extends="ProductDtoMap">
        <collection property="productDetailDtoList" resultMap="com.three.shop.mapper.ProductDetailDtoMapper.ProductDetailDtoMap"/>
    </resultMap>
    <select id="selectProductByProductId" resultMap="ProductAndDetailMap">
        select p.product_id, p.title, p.name, p.brand, pd.img, pd.price, pd.product_detail_id, pd.size
        from product p left join product_detail pd on p.product_id = pd.product_id
        where p.product_id = #{productId}
    </select>
</mapper>