<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.three.shop.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.three.shop.domain.entity.Product">
    <!--@mbg.generated-->
    <!--@Table product-->
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    product_id, title, `name`, brand
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="product_id" keyProperty="productId" parameterType="com.three.shop.domain.entity.Product" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into product (title, `name`, brand
      )
    values (#{title,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="product_id" keyProperty="productId" parameterType="com.three.shop.domain.entity.Product" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="brand != null">
        brand,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.three.shop.domain.entity.Product">
    <!--@mbg.generated-->
    update product
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.three.shop.domain.entity.Product">
    <!--@mbg.generated-->
    update product
    set title = #{title,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
    <update id="updateStockById">
      update product set stock=#{stock} where status=1 and product_id=#{productId}
    </update>
</mapper>