<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.three.shop.mapper.SiteMapper">
  <resultMap id="BaseResultMap" type="com.three.shop.domain.entity.Site">
    <!--@mbg.generated-->
    <!--@Table site-->
    <id column="site_id" jdbcType="INTEGER" property="siteId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="Site_dep" jdbcType="VARCHAR" property="siteDep" />
    <result column="icp" jdbcType="VARCHAR" property="icp" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="eamil" jdbcType="VARCHAR" property="eamil" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="hint" jdbcType="VARCHAR" property="hint" />
  </resultMap>


  <insert id="insert" keyColumn="site_id" keyProperty="siteId" parameterType="com.three.shop.domain.entity.Site" useGeneratedKeys="true">
    <!--@mbg.generated-->

      insert into site (username, keyword, Site_dep,
      icp, company_name, eamil,
      phone, `status`, hint
      )
    values (#{username,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}, #{siteDep,jdbcType=VARCHAR},
      #{icp,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{eamil,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{hint,jdbcType=VARCHAR}
      )
  </insert>

    <select id="selectById" resultMap="BaseResultMap">
        select *
        from site
    </select>

    <update id="update" >
        update third_db
        <trim prefix="set" suffixOverrides=",">
            <if test="site.username!= null   ">
                username =#{site.username},
            </if>
            <if test="site.keyword != null">
                keyword = #{site.keyword},
            </if>
            <if test="site.siteDep != null">
                Site_dep = #{site.siteDep},
            </if>
            <if test="site.icp != null">
                icp = #{site.icp},
            </if>
            <if test="site.companyName != null">
                company_name = #{site.companyName},
            </if>
            <if test="site.eamil != null">
                eamil = #{site.eamil},
            </if>
            <if test="site.phone != null">
                phone = #{site.phone},
            </if>
            <if test="site.status != null">
                status = #{site.status},
            </if>
            <if test="site.hint != null">
                hint = #{site.hint},
            </if>

        </trim>
        where site_id = #{site.siteId}


    </update>
</mapper>